<h1>"hi,@ViewBag.UserName this is page from Hello Acton"</h1>
<h1>"Can have any HTML document"</h1>

<p>User Name : @ViewBag.UserName</p>
<p>Location : @ViewBag.Location</p>
<p>User Name : @ViewBag.contact</p>